<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <File name="F1" fileName="logs/crawl.log" append="false">
            <PatternLayout pattern="[%d{dd/mm/yyyy HH:mm:ss}] [%-5p] [%c{1}:%L] - %m%n"/>
        </File>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{dd/mm/yyyy HH:mm:ss}] [%-5p] [%c{1}:%L] - %m%n"/>
        </Console>
        <Async name="ASYNC">
            <AppenderRef ref="F1"/>
            <AppenderRef ref="CONSOLE"/>
        </Async>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="ASYNC"/>
        </Root>
    </Loggers>
</Configuration>